{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="jumbotron">
    <a href="{{ url }}" class="btn btn-primary"><span class="fa fa-google-plus"></span> Log in with Google</a>
    <hr>
    <a href="/">&laquo; Go back</a>
</div>
{% endblock %}
