doctype html
html
    head
        title= title
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role="navigation")
            a.navbar-brand(href='/') ASL
            ul.navbar-nav
                each item in navitems
                    li.nav-item(class=title==item.content?'active':undefined)
                        a.nav-link(href=item.link)= item.content
        block content
