extends layout

block content
    .jumbotron
        .container
            h1= title
            p Thank you for registering, #{name}!
            hr 
            p You'll receive an email at #{email} soon with more information about our community.