{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <hr>
        <div class="row">

            <p>Form submitted successfully!</p>
        </div>

    </div>
{% endblock %}

